:root {
    --main-color: #9D7C35;
    --second-color: #1a1a1a;
    /* --btn-blue: #091C64; */
    --btn-blue: #428EA9;
    --letter-white: #F0f0f0;
    --greyback: #B3AEAA;

}
/* sets css items for all pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat';
}
/* navbar css */
.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color:var(--main-color);
    position: fixed;
    width: 100%;
    top: 0;
}
#title {
    float: left;
    font-size: 28px;
    color: var(--letter-white);
    letter-spacing: 3px;
    padding-left: 5px;
    margin-left: 10px;
    text-align: center;
}
.nav-item {
    color: var(--second-color);
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 14px 16px;
    font-size: 18px;
    border-left: 1px solid var(--second-color);
    margin: 0 10px;
    letter-spacing: 1px;
}
.nav-right {
    float: right;
}
.nav-item:hover {
    background-color: var(--second-color);
    color: var(--letter-white);
}
.active {
    background-color: var(--letter-white);
    color: var(--second-color);
    font-size: 21px;
}
/*Next Page/Back button Styling*/
.btn {
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--letter-white);
    margin: 15% 25px 10% 25px;
    padding: 10px;
    font-weight: 400;
    
}
.btn a {
    text-decoration: none;
    color: var(--letter-white);
}
.btn:hover {
    background-color: var(--btn-blue);
    color: var(--letter-white);
}
.arrow-btn img{
    width: 25px;
    height: 25px;
    float: right;
}
.back-arrow {
    float: left;
    
}
.arrow-right {
    float: right;
}
.arrow-left img {
    float: left;
}
/* #btn-up {
    margin-bottom: 30%;
} */

.right-btn {
    float: right;

}
/* footer section */
footer {
    background-color: var(--second-color);
    color: var(--letter-white);
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 75px; */
    font-weight: 400;
    padding-right: 10px;
}
footer:hover {
    background-color: var(--main-color);
    
}
footer div {
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: var(--letter-white);
    padding: 5px;
    /* margin: 20px 0 10px 0; */
}
footer a:hover {
    text-decoration: underline;
    font-size: 18px
    ;}
    #copy-left {
        float: left;
        padding-left: 10px;
        align-items: center;
        margin: 20px 0 10px 0;
        justify-content: center;
    }
    #right-side {
    margin: 20px 0 10px 0;
    float: right;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

/* landing page specific CSS */
/* .welcome-page {
    margin-top: 5%;
    align-items: center;
    display: flex;
} */
.welcome-page {
    width: 100%;
    height: 100%;
    background-image: url(./images/wakeForestCampus.jpg);
    /* opacity: 0.9; */
}
.welcome-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center; 
     align-items: center;
    margin-top:  5%;
}
.welcome-item {
    /* border: var(--btn-blue); */
    padding: 5px;
}
.welcome-item img {
    max-width: 320px;
    max-height: 320px;
    border-radius: 10px;
}
.welcome-item p {
    border-left: 3px solid var(--btn-blue);
    font-size: 18px;
    padding: 10px;
    max-width: 900px;
    line-height: 1.3;
}
.welcome-item h2 figcaption {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}
/* about me page CSS */
.about-grid {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center; 
     align-items: center;
    margin-top:  5%;
}
.about-item {
    border: var(--btn-blue);
    padding: 20px;
}
.about-item img {
    max-width: 320px;
    max-height: 320px;
    border-radius: 10px;
}
.img-right {
    border-right: 3px solid var(--main-color);
}
.img-left {
    border-left: 3px solid var(--second-color);
}
.about-item h2 {
    font-size: 42px;
    margin-bottom: 10px;
}
.about-item p {
    font-size: 18px;
    margin-top: 10px;
}

/* hobbies page CSS */
.hobby-intro {
    margin: 5% 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.hobby-intro p {

    font-size: 20px;
    font-weight: 500;
}
.hobby-cards {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container {
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0.8);

}
.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;

}
.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    widows: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description {
    margin-left: 5px;
    background-color: var(--greyback);
    border-radius: 10px;
    /* width: 100%; */
}
.description p {
    color: var(--letter-white);
    padding-top: 5px;
    margin-left: 5px;
    
}
.description h4 {
    margin-left: 5px;
    text-transform: uppercase;

}
input {
    display: none;
}
input:checked + label {
    width: 800px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url(./images/hobbies5.jpg);
    
}
.card[for="c2"] {
    background-image: url(./images/hobbies2.jpeg);
    
}
.card[for="c3"] {
    background-image: url(./images/hobbies1.jpg);
    
}
.card[for="c4"] {
    background-image: url(./images/hobbies4.jpg);
/* TODO:MAKE NEW CARD FOR BELOW IMAGE */
    /* background-image: url(./images/hobbies3.jpg); */
}
.card[for="c5"] {
    background-image: url(./images/hobbies3.jpg);
}